---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-36 w-36 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
    <p class="text-gray-500 pb-4">{{site.author-bio}}</p>
  {% endif %}
</div>

<p class="mx-auto text-center prose prose-{{site.theme-color}}">
  As a technology leader and software engineer with over 11 years of experience, I am dedicated to supporting my team and the organizations I work with. Most recently, I have served as the CTO and co-founder of Gondola where I grew a team and product to redefine the way that software sales teams interface with their customers and CRM.
</p>

<p class="mx-auto text-center prose prose-{{site.theme-color}}">
  I believe in servant leadership and strive to foster a positive and inclusive company culture. I have been continuously humbled amazed by the dedication and tenacity that a team can have when they are empowered and supported.
</p>

<p class="mx-auto text-center prose prose-{{site.theme-color}}">
  I am currently looking for my next opportunity to thrive as a leader and engineer. I am passionate about building products that solve real problems and I am excited to find a team that shares that passion.
</p>

{% include social-media.html %}
{% include footer.html %}
