---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-36 w-36 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
    <p class="text-gray-500 pb-4">{{site.author-bio}}</p>
  {% endif %}
</div>

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  As a technology leader and software engineer with experience in the startup world, I, Jack Collins, am dedicated to supporting my team and the organizations I work with. Over the past 3.5 years, I have served as the CTO and co-founder of Gondola, where I've focused on leveraging my technical expertise and communication skills to contribute to the company's success.
</div>
<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  Before joining Gondola, I was the first non-founder engineer at Galore. During my time there, I worked collaboratively with my colleagues to scale the startup for two years until it was acquired by Care.com.
</div>
<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  I believe in servant leadership and strive to foster a positive and inclusive company culture. My approach involves listening to my team, guiding them through challenges, and setting high-level strategic direction that supports the overall growth of the organization. As a software engineer with a focus on effective communication, I am committed to contributing my skills and experience to any technology-driven organization while prioritizing the growth and well-being of my team.
</div>

{% include social-media.html %}
{% include footer.html %}
