---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto text-center prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-36 w-36 rounded-full" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
    <p class="text-gray-500 pb-4">{{site.author-bio}}</p>
  {% endif %}
</div>

<p class="mx-auto my-8 text-center prose prose-{{site.theme-color}}">
  As a technology leader, engineer, and entrepreneur with deep experience in startups, I am dedicated to supporting my team and the organizations I work with. I have built and led product and engineering teams through two acquisitions, and I'm looking for the next opportunity to join a team that is making a meaningful impact on real people.
</p>

<p class="mx-auto my-8 text-center prose prose-{{site.theme-color}}">
  I believe in servant leadership and strive to foster a positive and inclusive company culture. I have built strong interpersonal skills that have helped me lead teams through various levels of growth and substantial product pivots. As a software engineer with a focus on effective communication, I am committed to contributing my skills and experience to any technology-driven organization while prioritizing the growth and well-being of my team.
</p>

<p class="mx-auto my-8 text-center prose prose-{{site.theme-color}}">
  After building, scaling, and selling Gondola, I am now serving as the Head of Product Engineering at Naro (the acquiring company). I am exceedingly proud to have developed a team and product worth of acquisition. If you're interested in talking through potential opportunities, feel free to reach out!
</p>

{% include social-media.html %}
{% include footer.html %}
